body {
    background-color: rgb(230, 190, 150);
    font-family: Arial;
}
h1 {
    font-size: 54pt;
    color: white;
    margin-bottom: -15pt;
    text-align: justify;
    text-align: center;
}
p {
    font-size: 18pt;
    color: white;
    text-align: justify;
    max-width: 60ch;
    margin-left: auto;
    margin-right: auto;
}
a:link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
a:visited {
    color: black;
}
a:hover {
    color: rgb(190, 190, 190);
}
a:active {
    color:black;
}
.logo {
    height: 108pt;
    text-align: center;
    margin-bottom: -15pt;
}
.ildathore {
    background-color: black;
}
.cover {
    width: 264pt;
    text-align: center;
}
.description {
    font-size: 14pt;
    max-width: 264pt;
}
.map {
    width: 528pt;
    text-align: center;
}
